html, body, .nav, .row, .container, .fourcol, .eightcol {
	height: 100%;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

#heading {
	padding-left:20px;
	padding-right:20px;
	padding-top:100px;
}

h1 { 
	font-family: 'Futura', 'Raleway', sans-serif;
	color: white;
	margin-left:auto;
	margin-right:auto;
	font-weight: 400;
	font-size: 1.5em;
}

h1 span {
	font-weight: 800;
}

#hide {
	font-weight: 400;
}

#cover {
	padding-bottom: 30px;
}

#issue {
	padding-top: 100px;
}

.line {
	width: 90px;
	background-color: #d3d3d3;
	height: 1px;
	margin: 3px auto 0;
}

h2 { 
	font-family: 'Wire One', sans-serif;
	color: #3bc797;
	font-size: 6em;
	font-weight: 500;
	text-align: center;
	margin-top: 15px;
	margin-bottom: 40px;
}

h3 {
	font-family: Trebuchet MS, Futura, sans-serif;
	color: #3bc797;
	font-size: 25px;
	font-weight: 500;
	text-align: center;
	margin: 0;
}

h4 {
	font-family: Trebuchet MS, Futura, sans-serif;
	font-size: 19px;
	font-weight: 600;
	font-style: italic;
	color: #4e4e4e;
	text-align: center;
}

h5 {
	font-family: Trebuchet MS, Futura, sans-serif;
	font-size: 17px;
	font-weight: 100;
	color: #c2c2c2;
	text-align: center;
	margin-top: 3px;
	margin-bottom: 22px;
	font-style: italic;
}

.article {
	color:#4E4E4E;
	font-family:Georgia, Times, serif;
	font-size:14px;
	line-height:22px;
	text-align:center;
	padding:15px 0 40px 0;
	width:400px;
	margin:0 auto
}

.para {
	margin-top: 1px;
}
