html {
	overflow-x: hidden;
}

html, body, .nav, .row, .container, .fourcol, .eightcol {
  -webkit-font-smoothing:antialiased;
  height:100%;
}

#heading {
  padding-top:30px;
  text-align: center;
  margin: 0 auto;
}

h1 {
  color:#4E4E4E;
  font-family:'PT Serif', serif;
  font-size:4em;
  font-weight:300;
  font-style:italic;
}

.h1top {
  font-family:'PT Sans', sans-serif;
  font-weight:600;
  font-style:normal;
}

.h1sub {
  color:#4E4E4E;
  font-family:'PT Sans', Futura, sans-serif;
  font-size:17px;
  font-weight:200;
 }


h2 {
  color:#4E4E4E;
  font-family:'PT Sans', sans-serif;
  font-size:3em;
  font-weight:800;
  margin-bottom:40px;
  margin-top:15px;
  text-align:center;
  font-style:normal;
}

h3 {
  color:#4E4E4E;
  font-family:'PT Sans', 'Trebuchet MS', Futura, sans-serif;
  font-size:25px;
  font-weight:500;
  line-height:2em;
  margin:0;
  text-align:center;
}

h4 {
  color:#4E4E4E;
  font-family:'PT Sans', 'Trebuchet MS', Futura, sans-serif;
  font-size:19px;
  font-style:italic;
  font-weight:600;
  text-align:center;
}

h5 {
  color:#FF864C;
  font-family:'PT Sans', 'Trebuchet MS', Futura, sans-serif;
  font-size:17px;
  font-style:italic;
  font-weight:100;
  margin-bottom:22px;
  margin-top:3px;
  text-align:center;
}

#sub {
  font-weight:400;
  font-size: 1.5em;
}

#icon {
	display: inline-block;
	float: left;
	padding-bottom: 10px;
	}

#front {
  padding-bottom:30px;
  width:100%;
}

#issue {
  padding-top:50px;
}

.line {
background-color:#D3D3D3;
  height:1px;
  margin:0 auto;
  width:90px;
  margin-top:6px;
  margin-bottom:6px;
}

.break {
	padding-top: 1em;
	}

.article {
  color:#4E4E4E;
  font-family: PT Serif, Georgia, Times, serif;
  font-size:14px;
  line-height:22px;
  text-align:left;
  padding-top:0px;
  padding-bottom:40px;
}

.para {
  margin-top:1em;
}
